* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Hero section */

.hero {
    height: 100vh;
    background-image: url('src/img/hero.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start; 
    padding: 50px; 
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    font-size: 30px;
}


/* Navbar */

.navbar {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255);
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
    position: relative; 
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;

}

.logo{
    width: 200px;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background: rgb(255, 255, 255);
    min-width: 160px;
    list-style: none;
    padding: 0;
    z-index: 1000;
}

.dropdown-content li {
    width: 100%;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}
